.App {
  text-align: center;
}

html, body {
  padding: 1em;
  margin: auto;
}

.divCategory {
  color: white; 
  position: relative;
  padding: 10%;
  border: 2px solid white;
}


#div1 {
  background: orange;
}

#div2 {
  background: red;
}

#div3 {
  background: purple;
}

#div4 {
  background: darkcyan;
}

#div5 {
  background: goldenrod;
}

#div6 {
  background: orangered;
}