html, body {
  height: 100%;
  width: 100%;
}

/*needs an adjustment, doesnt go to bottom?*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  text-align: center;
}

ul {
  color: white;
  background-color: #363236;
  }

li {
    display: inline-flex;
    padding: 10px;
    color: white;
}

.App {
    height: 100%;
    min-height: 100vh;
    background-color: #1f1c1f;
    font-family: "Courier New";
}

.title{
  text-align: center;
  color: white;
  padding-top: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
  letter-spacing: -0.8px;
  word-spacing: 0px;
  font-variant: small-caps;
  }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 55px;
}

.category {
  flex: 0 0 auto;
  margin: 10px;
  text-align: center;
  font-weight: 800;
  height: 70px;
  width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  text-shadow: 3px 2px 5px black;
  border-radius: 5px;
  padding: 13px;
  font-size: 150%;
  transition: transform 0.2s;
}

.category:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.67);
}

.horror {
  background-image: url(/public/images/horrorstatic.jpg);
}
.horror:hover {
  background-image: url(/public/images/horror.gif);
}

.scifi {
  background-image: url(/public/images/scifistatic.jpg);
}
.scifi:hover {
  background-image: url(/public/images/scifi.gif);
}

.history {
  background-image: url(/public/images/historystatic.jpg);
}
.history:hover {
  background-image: url(/public/images/history.gif);
}

.movies {
  background-image: url(/public/images/moviesstatic.jpg);
}
.movies:hover {
  background-image: url(/public/images/movies.gif);
}

.biography {
  background-image: url(/public/images/biostatic.jpg);
}
.biography:hover {
  background-image: url(/public/images/bio.gif);
}

.music {
  background-image: url(/public/images/musicstatic.jpg);
}
.music:hover {
  background-image: url(/public/images/music.gif);
}

.anime {
  background-image: url(/public/images/animestatic.jpg);
}
.anime:hover {
  background-image: url(/public/images/anime.gif);
}

.books {
  background-image: url(/public/images/booksstatic.jpg);
}
.books:hover {
  background-image: url(/public/images/books.gif);
}

.tv {
  background-image: url(/public/images/tvstatic.jpg);
}
.tv:hover {
  background-image: url(/public/images/tv.gif);
}

.health {
  background-image: url(/public/images/healthstatic.jpg);
}
.health:hover {
  background-image: url(/public/images/health.gif);
}

.nature {
  background-image: url(/public/images/naturestatic.jpg);
}
.nature:hover {
  background-image: url(/public/images/nature.gif);
}

.gaming {
  background-image: url(/public/images/gamingstatic.jpg);
}
.gaming:hover {
  background-image: url(/public/images/gaming.gif);
}
